<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 400px;
            margin: 40px auto;
            padding: 20px;  }
    </style>
</head>
<body>
    <h1>Привет, {{user.username}}!</h1>
    <p>Вы успешно вошли в систему.</p>

    <p><a href="{% url 'logout' %}">Выйти</a></p>
</body>
</html>